* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: aquamarine;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
}

.flex-align-size {
    display: flex;
    align-items: center;
    font-size: 40px;
}

.ml-20 {
    margin-left: 20px;
} 

#field {
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}